#shelf_view {
  position: absolute;
  left: 0%;
  transition-duration: 0.2s;
  background-color: var(--desk-bg);
  display: grid;
  grid-template-rows: 5em 1fr;
}

#shelf {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
}

#shelftop {
  display: grid;
  background-color: var(--shelf-shelftop);
}

/** A shelf bay holds books */
.shelf-bay {
  max-height: 100%;
  height: 100%;
  width: 33%;
}

.shelf-seperator {
  background-color: var(--shelf-shelftop);
  height: 100%;
  width: 1em;
}

/** An article sitting on the shelf has the class book */
.book {
  display: flex;
  flex-direction: row;
  background-color: var(--book-bg);
  height: 2em;
  align-items: center;
  transition-duration: 0.2s;
  user-select: none;
}

.book:hover {
  margin-left: 1em;
  margin-right: -1em;
}

.book h2 {
  margin: 0;
}

.book summary {
  opacity: 0.8;
  margin-left: 1em;
}

/** */
#desk-drop-zone {
  position: absolute;
  align-self: center;
  top: 60%;
  margin-top: -50%;
  height: 100%;
  width: 10em;
  background-color: blue;
  display: none;
}
