#shelf_view {
  position: absolute;
  left: 0%;
  transition-duration: 0.2s;
  background-color: var(--desk-bg);
  display: grid;
  grid-template-rows: 5em 1fr;
  overflow: scroll;
}

#shelf {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding-left: 2em;
  padding-right: 2em;
  box-sizing: border-box;
}

/** Shelf Top **/
#shelftop {
  /*
  display: grid;

  grid-template-columns: 1em 1em 1fr 1em 1em;
  grid-template-rows: 3em 1em 1em;
  */
  position: sticky;
  top: 0;
  height: 5em;
  z-index: 8;
}

#shelftop #shelftop-content {
  /*
  grid-column: 3/4;
  grid-row: 1/4;
  */
  background-color: var(--shelf-shelftop);
  height: 5em;
}

/** A shelf bay holds books in a column */
.shelf-bay {
  max-height: 100%;
  height: 100%;
  width: 33%;
}

.shelf-seperator {
  height: 100%;
  background-color: var(--shelf-shelftop);
  width: 1em;
  z-index: 0;
}

/** An article sitting on the shelf has the class book */
.book {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: var(--book-bg);
  height: 2em;
  align-items: center;
  transition: margin 0.2s;
  user-select: none;
  z-index: 1;
  border-bottom: solid 1px var(--shelf-shelftop);
  border-left: solid 1px var(--shelf-shelftop);
  width: 100%;
}

.book:hover {
  margin-left: 1em;
  margin-right: -1em;
}

.book h2,
#floating_book h2 {
  white-space: nowrap;
  margin: 0;
  margin-left: 0.5em;
  font-weight: normal;
  font-size: 13pt;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
}

.book summary {
  opacity: 0.8;
  margin-left: 1em;
}

/** */
#desk-drop-zone {
  position: absolute;
  align-self: center;
  top: 60%;
  margin-top: -50%;
  height: 100%;
  width: 10em;
  background-color: blue;
  display: none;
}

#floating_book {
  position: absolute;
  background-color: blue;

  transition-duration: var(--article-bg);
  z-index: 35;
  overflow: hidden;
}

#floating_book #fb_heading_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 2em;
  display: flex;
  align-items: center;
}

#floating_book_content {
  transition-duration: var(--trans);
}
