.viewer_view {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);

  transition: background-color 0.4s;

  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  overflow: auto;

  z-index: 20;
}

.viewed_article {
  position: absolute;
  display: block;
  /* max-height: none; */
  height: auto;
  transition-duration: var(--trans);

  margin-top: 3em;
  margin-bottom: 3em;
  width: 40%;
  max-width: 40%;
  min-width: 40em;
  background-color: var(--article-bg);
  /*opacity: 0;*/
  opacity: 0;
}

.viewed_article_content {
  /*transition: background-color height 0.4s;*/
  /*background-color: var(--book-bg);*/
  transition-duration: var(--trans);
  height: 0;
  overflow: hidden;

  &.open {
    height: calc-size(auto, size);
  }
}

.article_content {
  padding-left: 3em;
  padding-right: 3em;
  line-height: 1.5;
  height: 0;
}

.mock_article_content {
  overflow: hidden;

  /*transition: background-color height 0.4s;*/
  transition-duration: var(--trans);

  &.open {
    height: calc-size(auto, size);
  }
}

/** Floating Loader **/
.floating_loader {
  position: absolute;
  top: 0px;
  left: 0px;
  height: auto;

  background-color: var(--book-bg);

  &.open {
    background-color: var(--article-bg);
  }

  z-index: 36;
}

.floating_loader * {
  /*opacity: 0;*/
}

.viewer-nav {
  transition: opacity var(--trans);
  opacity: 0;

  &.open {
    opacity: 1;
  }
}
