#viewer_view {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);

  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  overflow: scroll;
}


#viewed_article {
	display: block;
	min-height: 50%;
	height: auto;
	/* max-height: none; */
  margin-top: 5em;
  width: 50%;
  max-width: 50%;
  min-width: 200px;
  background-color: var(--article-bg);
}

#article-content {
  padding-left: 1em;
  padding-right: 1em;
}
