#viewer_view {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);

  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  overflow: auto;

  z-index: 20;
}


#viewed_article {
	display: block;
	height: auto;
	/* max-height: none; */
  margin-top: 3em;
  margin-bottom: 3em;
  width: 40%;
  max-width: 40%;
  min-width: 40em;
  background-color: var(--article-bg);
}

#article_content {
  padding-left: 3em;
  padding-right: 3em;
  line-height: 1.5;
}
