#viewer_view {
  /*--trans: 0.4s;*/
  --trans: 0.4s;

  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);

  transition: background-color 0.4s;

  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  overflow: auto;

  z-index: 20;
}

#viewed_article {
  position: absolute;
  display: block;
  /*height: auto;*/
  /* max-height: none; */

  margin-top: 3em;
  margin-bottom: 3em;
  width: 40%;
  max-width: 40%;
  min-width: 40em;
  background-color: var(--article-bg);
  opacity: 0;
}

#article_content {
  padding-left: 3em;
  padding-right: 3em;
  line-height: 1.5;

  /*transition: background-color height 0.4s;*/
  background-color: var(--book-bg);
}

#mock_article_content {
  padding-left: 3em;
  padding-right: 3em;
  line-height: 1.5;
  overflow: hidden;
  height: 0;

  /*transition: background-color height 0.4s;*/
  transition-duration: var(--trans);

  &.open {
    height: calc-size(auto, size);
  }
}

/** Floating Loader **/
#floating_loader {
  position: absolute;
  top: 0px;
  left: 0px;
  height: "auto";

  background-color: var(--book-bg);

  &.open {
    background-color: var(--article-bg);
  }
}

#floating_loader * {
  /*opacity: 0;*/
}

.viewer-nav {
  transition: opacity var(--trans);
  opacity: 0;

  &.open {
    opacity: 1;
  }
}
