* {
  /** Dark Colors **/
  --desk-bg: #1a0d00;
  --desk-desktop: #4d2600;

  --article-bg: #333333;

  --shelf-bg: #1a0d00;
  --shelf-shelftop: #2c1702;
  --shelf-timber: #331a08;
  --shelf-header: #582d16;
  --shelf-header-border: #6e5130;
  --shelf-back-wall: #000000;

  --book-bg: #39230c;

  --text-main: #f2f2f2;
  --text-link: #8cc63f;

  --font-fallback: -apple-system, BlinkMacSystemFont, 'Times New Roman', "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --font-headings: "Merriweather";
  --font-site-text: "Open Sans";
  --font-article-text: "Segoe UI", "Open Sans";

  --trans: 0.4s;
}

/** Z Indexes 
 *
 * 0-10: Shelf zone
 * 20-30: Viewer Zone
 *
 * 35: Book Flying Back (#floating_book)
 * 36: Floating Loader
 *
 */

h1, h2, h3, h4, h5 {
	font-family: var(--font-headings);
}

pre {
  white-space: pre-line;
}

button {
  padding: 1em;
  background-color: #555555;
  color: var(--text-main);
}

button:hover {
  background-color: #777777;
}

a {
  color: var(--text-link);
}

html {
  width: 100%;
  height: 100%;

  color: var(--text-main);
  font-family: var(--font-site-text);
}

body {
  margin: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  overflow: hidden;
}

.screen {
  width: 100%;
  height: 100%;
}

/** Inputs **/
button {
  outline: none;
  border: none;
  border-radius: none;
}
