* {
  /** Dark Colors **/
  --desk-bg: #1a0d00;
  --desk-desktop: #4d2600;

  --article-bg: #333333;

  --shelf-bg: #1a0d00;
  --shelf-shelftop: #4d2600;
  --shelf-header: #3c1500;

  --book-bg: #996633;

  --text-main: #f2f2f2;
  --text-link: #8cc63f;

  --trans: 0.4s;
}

/** Z Indexes 
 *
 * 0-10: Shelf zone
 * 20-30: Viewer Zone
 *
 * 35: Book Flying Back (#floating_book)
 * 36: Floating Loader
 *
 */

pre {
  white-space: pre-line;
}

button {
  padding: 1em;
}

a {
  color: var(--text-link);
}

html {
  width: 100%;
  height: 100%;

  color: var(--text-main);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  overflow: hidden;
}

.screen {
  width: 100%;
  height: 100%;
}

/** Inputs **/
button {
  outline: none;
  border: none;
  border-radius: none;
}
