#desk_view {
  position: absolute;
  left: 0%;
  transition-duration: 0.2s;
  background-color: var(--desk-bg);

  display: grid;
  grid-template-rows: 1fr 5em;
}

#desk_view #desktop {
  width: calc(100% - 6em);
  height: calc(100% - 6em);
  margin: 3em;
  box-sizing: border-box;
  background-color: var(--desk-desktop);
}

/** Articles that are open on the desk */
#desktop article {
  position: absolute;
	left: -100%;
  width: 20em;
  height: 30em;
  padding: 1em;
  box-sizing: border-box;
  border: solid 1px black;
  background-color: var(--article-bg);
}

#desktop article:hover {
  border-color: white;
}
