#viewer_view {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	
	justify-content: center;
	overflow: scroll;
}

#viewed_article {
	margin-top: 5em;
	min-height: 50%;
	height: 50%;
	width: 50%;
	max-width: 50%;
	min-width: 200px;
	background-color: var(--article-bg);
	padding: 1em;
}
